@function dinamic($n) {
	@return calc($n / $maxScreen) * 100 * 1vw;
}

@mixin container ($width) {
    max-width: dinamic($width);
    width: 100%;
    margin-inline: auto;

    @media screen and (min-width: $maxScreen) {
        max-width: $width
    }

    @media screen and (max-width: $toTablet) {
        max-width: 95vw;
    }
}

@mixin singleFont ($style, $fw, $fs, $lh) {
    font-family: $style;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin sectionSubTitle {
    @include singleFont ($Poppins, 600, 1.8rem, 2.7rem);
    color: $mainText;

    @media screen and (max-width: $toTablet) {
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
    }
}

@mixin sectionTitle {
    @include singleFont ($Volkhov, 700, 5rem, 6.4rem);
    color: $sectionTitle;
    text-transform: capitalize;

    @media screen and (max-width: $toTablet) {
        font-size: 4rem;
        line-height: 5.2rem;
        text-align: center;
    }
}