/* colors */
$white: #ffffff;
$mainText: #5e6282;
$mainAccent: #df6951;
$sectionTitle: #14183e;


$headerMobile: #737373;
$headerDesltop: #212832;

$heroTitle: #181e4b;

$coloredBackground: #FFF1DA;

$easyStepYellow: #f0bb1f;
$easyStepRed: #f15a2b;
$easyStepBlue: #006380;

$subtitles: #1e1d4c;



$orangeButton: #f1a501;
$playDemo: #686d77;

$topDestinationsArrow: #080809;
$bookATripCardText: #84829A;

/* shadows */
$btnShadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
$playShadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
$servicesActive: 0px 100px 80px rgba(0, 0, 0, 0.02),
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
	0px 20px 13px rgba(0, 0, 0, 0.01),
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
$bookTripShadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
	0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
	0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
	0px 20px 13px rgba(0, 0, 0, 0.01),
	0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
	0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
$destinationFilter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
	drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
	drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
	drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
	drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
	drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));


/* fonts */
$GoogleSans: 'GoogleSans', sans-serif;
$OpenSans: 'OpenSans', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Volkhov: 'Volkhov', serif;

/* resolutions */
$maxScreen: 1440px;
$toTablet: 1024px;
$toMobile: 801px;
$minScreen: 400px;
