/* colors */
$white: #ffffff;
$black: #080809;
$mainText: #5e6282;
$secondaryText: #84829A;
$mainAccent: #df6951;
$sectionTitle: #14183e;
$headerMobile: #737373;
$headerDesltop: #212832;
$heroTitle: #181e4b;
$serviceSubtitles: #1e1d4c;
$coloredBackground: #FFF1DA;
$orangeButton: #f1a501;
$playDemo: #686d77;
$easyStepYellow: #f0bb1f;
$easyStepRed: #f15a2b;
$easyStepBlue: #006380;
$grayBackground: #F5F5F5;
$likeColor: #4152CA;
$progressColor: #8A79DF;




/* fonts */
$GoogleSans: 'GoogleSans', sans-serif;
$OpenSans: 'OpenSans', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Volkhov: 'Volkhov', serif;

/* resolutions */
$maxScreen: 1440px;
$toTablet: 1080px;
$toMobile: 801px;
$minScreen: 400px;
