.desktop-menu {
    @media screen and (max-width: $toMobile) {
        display: none;
    }

    &__list {
        display: flex;
        gap: dinamic(60px);
    }

    &__item {
        transition: scale 0.3s linear;
        &:has(.desktop-menu__link:hover) {
            scale: 1.2;
        }
    }
    
    &__link {
        @include singleFont($GoogleSans, 400, 1.7rem, 2.2rem);
        color: $headerDesltop;
        text-transform: capitalize;
        transition: color 0.3s linear;

        &:focus,
        &:hover {
            color: $mainAccent;
        }
    }
}