.logos {
	&__container {
		padding-inline: 7rem;
		margin: 11.1rem auto;

		@media screen and (max-width: $toMobile) {
            padding-inline: 1rem;
			margin: 9rem auto;
		}
	}

    &__title {
        display: none;
        margin-bottom: 5rem;
        @include sectionSubTitle;
        text-transform: uppercase;

        @media screen and (max-width: $toMobile) {
            display: block;
		}
    }

    &__item-bar {
        display: flex;
        column-gap: 1rem;
        row-gap: 4rem;
        justify-content: center;
        flex-wrap: wrap;
    }

	&__item {
        background: #ffffff;
        border-radius: 10px;
        transition: all 0.3s linear;
        
        &:hover {
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
                0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
                0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
                0px 20px 13px rgba(0, 0, 0, 0.01),
                0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
                0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);


            & .logos__link {
                mix-blend-mode: normal;
            }
        }
	}

	&__link {
        mix-blend-mode: luminosity;
        padding-inline: 4rem;
		height: 8.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
}
