.mobile-menu {
    padding: 9.8rem 0;
    visibility: visible;
    transition: visibility 0.1s;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__item {
        text-align: center;
        transition: scale 0.3s linear;
        &:has(.mobile-menu__link:hover),
        &:has(.mobile-menu__link:focus) {
            scale: 1.2;
        }
    }
    
    &__link {
        @include singleFont($Poppins, 400, 3rem, 4.5rem);
        color: $headerMobile;
        text-transform: capitalize;
        transition: color 0.3s linear;

        &:focus,
        &:hover {
            color: $mainAccent;
        }
    }
}