.services {
    position: relative;

    &__container {
        margin: 9.2rem auto;
        padding-inline: 4rem;

        @media screen and (max-width: $toMobile) {
            margin: 11rem auto;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    &__subtitle {
        margin-bottom: 1rem;
        @include sectionSubTitle;
        text-transform: uppercase;

        @media screen and (max-width: $toMobile) {
            margin-bottom: 2.3rem;
        }
    }

    &__title {
        margin-bottom: 7.4rem;
        @include sectionTitle;

        @media screen and (max-width: $toMobile) {
            margin-bottom: 5rem;
        }
    }
    
    &__card-bar {
        display: flex;
        column-gap: 3.5rem;
        row-gap: 7rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__decor {
        position: absolute;
        top: 0;        
        right: dinamic(63px);
        z-index: 1;

        @media screen and (max-width: $toMobile) {
            display: none;
        }
    }

    &__button {
        display: none;
        padding: 0.9rem 2rem;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        @include singleFont ($Poppins, 400, 2rem, 4.5rem);
        color: $headerMobile;
        letter-spacing: 0.2px;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.3s;

        &:focus,
        &:hover {
            color: $mainAccent;
            border-color: $mainAccent;
            scale: 1.2;
        }

        &:active {
            animation: blim 0.1s;
        }

        @media screen and (max-width: $toMobile) {
            display: block;
        }
    }

    &__input {
        display: none;
    }

    &:has(.services__input:checked) {
        .service-card:nth-child(3),
        .service-card:nth-child(4) {
            display: block;
        }
    }
}