/* Base resets */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, img, form, label,
input, select, ul, li,
article, aside, footer,
header, main, menu, nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
}

/* General styles */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* colors */
/* shadows */
/* fonts */
/* resolutions */
@-webkit-keyframes blim {
  100% {
    background-color: #df6951;
  }
}
@keyframes blim {
  100% {
    background-color: #df6951;
  }
}
@-webkit-keyframes blimDark {
  100% {
    background-color: #5e6282;
    -webkit-box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
            box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
  }
}
@keyframes blimDark {
  100% {
    background-color: #5e6282;
    -webkit-box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
            box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
  }
}
@-webkit-keyframes fly {
  5% {
    -webkit-transform: rotateZ(50deg);
            transform: rotateZ(50deg);
  }
  10% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  15% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
  }
  90% {
    -webkit-transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
            transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
  }
  95% {
    -webkit-transform: translateX(0) scale(0);
            transform: translateX(0) scale(0);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
@keyframes fly {
  5% {
    -webkit-transform: rotateZ(50deg);
            transform: rotateZ(50deg);
  }
  10% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  15% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
  }
  90% {
    -webkit-transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
            transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
  }
  95% {
    -webkit-transform: translateX(0) scale(0);
            transform: translateX(0) scale(0);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
/* Components */
.logo {
  height: 4rem;
}
.logo__wrapper {
  height: 100%;
}
.logo__img {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 801px) {
  .desktop-menu {
    display: none;
  }
}
.desktop-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.1666666667vw;
}
.desktop-menu__item {
  -webkit-transition: scale 0.3s linear;
  transition: scale 0.3s linear;
}
.desktop-menu__item:has(.desktop-menu__link:hover) {
  scale: 1.2;
}
.desktop-menu__link {
  font-family: "GoogleSans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
  text-transform: capitalize;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.desktop-menu__link:focus, .desktop-menu__link:hover {
  color: #df6951;
}

.mobile-menu {
  padding: 9.8rem 0;
  visibility: visible;
  -webkit-transition: visibility 0.1s;
  transition: visibility 0.1s;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.mobile-menu__item {
  text-align: center;
  -webkit-transition: scale 0.3s linear;
  transition: scale 0.3s linear;
}
.mobile-menu__item:has(.mobile-menu__link:hover) {
  scale: 1.2;
}
.mobile-menu__link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #737373;
  text-transform: capitalize;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: #df6951;
}

.desktop-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.0833333333vw;
}
@media screen and (max-width: 801px) {
  .desktop-login {
    display: none;
  }
}
.desktop-login__btn {
  display: block;
  padding: 0.9rem 2rem;
  font-family: "GoogleSans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
  border: 1px solid;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.desktop-login__btn:focus, .desktop-login__btn:hover {
  scale: 1.2;
}
.desktop-login__btn:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
.desktop-login__btn_sign-up {
  border-color: #212832;
}
.desktop-login__btn_login {
  border-color: transparent;
}
.desktop-login__btn_login:focus, .desktop-login__btn_login:hover {
  color: #df6951;
  border-color: #df6951;
}

.mobile-login {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  text-align: center;
  visibility: hidden;
  -webkit-transition: visibility 0.1s;
  transition: visibility 0.1s;
}
.mobile-login__btn {
  display: block;
  padding: 0.9rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #737373;
  border: 1px solid;
  border-radius: 0.5rem;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}
.mobile-login__btn:focus, .mobile-login__btn:hover {
  scale: 1.2;
}
.mobile-login__btn:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
.mobile-login__btn_sign-up {
  border-color: #737373;
}
.mobile-login__btn_login {
  border-color: transparent;
}
.mobile-login__btn_login:focus, .mobile-login__btn_login:hover {
  color: #df6951;
  border-color: #df6951;
}

@media screen and (min-width: 801px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn__input {
  display: none;
}
.burger-btn__item {
  width: 2.6rem;
  height: 2rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
}
.burger-btn__svg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-btn__icon {
  fill: #737373;
}

.language {
  font-family: "GoogleSans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
  background-color: transparent;
  outline: none;
}

.btn-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.4rem;
}
@media screen and (max-width: 801px) {
  .btn-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.btn-bar__find-out-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.9rem 2.7rem;
  border: 0.1rem solid #f1a501;
  border-radius: 1rem;
  background-color: #f1a501;
  font-family: "GoogleSans", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-bar__find-out-more:hover, .btn-bar__find-out-more:focus {
  background-color: transparent;
  border-color: #686d77;
  color: #686d77;
  -webkit-box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
          box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
}
.btn-bar__find-out-more:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
.btn-bar__play-demo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-bar__play-demo::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 5.2rem;
  z-index: -1;
  background-color: #df6951;
  border-radius: 2.6rem;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-bar__play-demo:hover::after, .btn-bar__play-demo:focus::after {
  width: 100%;
}
.btn-bar__play-demo:hover .btn-bar__play-text, .btn-bar__play-demo:focus .btn-bar__play-text {
  color: #ffffff;
}
.btn-bar__play-demo:active::after {
  -webkit-animation: blimDark 0.1s;
          animation: blimDark 0.1s;
}
.btn-bar__play-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
}
.btn-bar__play-btn::after {
  position: absolute;
  margin-left: 0.6rem;
  content: "";
  width: 0;
  height: 0;
  border-left: 1.6rem solid #ffffff;
  border-top: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  border-right: 0;
}
.btn-bar__play-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.6rem;
  color: #686d77;
  text-transform: capitalize;
  margin-left: 2rem;
  padding-right: 2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header {
  position: absolute;
  top: 4.7rem;
  width: 100%;
}
.header:has(.burger-btn__input:checked) .mobile-menu {
  visibility: hidden;
}
.header:has(.burger-btn__input:checked) .mobile-login {
  visibility: visible;
}
.header:has(.burger-btn__input:checked) .burger-btn__svg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
@media screen and (max-width: 801px) {
  .header {
    position: static;
    padding-top: 3.7rem;
    background-color: #FFF1DA;
  }
}
.header__container {
  max-width: 80.5555555556vw;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .header__container {
    max-width: 1160px;
  }
}
@media screen and (max-width: 1024px) {
  .header__container {
    max-width: 95vw;
  }
}
.header__desktop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 801px) {
  .header__desktop-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30vw;
  }
}
@media screen and (max-width: 400px) {
  .header__desktop-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
}
.header__icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.header__mobile-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 801px) {
  .header__mobile-wrapper {
    display: none;
  }
}

.hero {
  padding-top: 11rem;
  overflow: hidden;
}
@media screen and (max-width: 801px) {
  .hero {
    padding-top: unset;
  }
}
.hero__background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.hero__background-img {
  width: 100%;
  height: auto;
}
.hero__container {
  max-width: 86.5277777778vw;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .hero__container {
    max-width: 1246px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__container {
    max-width: 95vw;
  }
}
.hero__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 801px) {
  .hero__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7.4rem;
    padding-bottom: 9.2rem;
  }
}
.hero__img-wrapper {
  height: 100%;
}
@media screen and (max-width: 801px) {
  .hero__img-wrapper {
    display: none;
  }
}
.hero__img {
  height: 100%;
  width: auto;
}
.hero__plane {
  position: absolute;
  z-index: 2;
}
.hero__plane_first {
  top: 10.3rem;
  right: -2rem;
}
@media screen and (max-width: 801px) {
  .hero__plane_first {
    display: none;
  }
}
.hero__plane_second {
  top: 5.6rem;
  right: 46.4rem;
}
@media screen and (max-width: 1200px) {
  .hero__plane_second {
    left: -3rem;
    right: unset;
  }
}
@media screen and (max-width: 801px) {
  .hero__plane_second {
    top: -1rem;
  }
}
.hero__plane:hover {
  cursor: pointer;
}
.hero__plane:hover .hero__plane-img {
  -webkit-animation: fly 3s;
          animation: fly 3s;
}
.hero__plane-img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.hero__content {
  position: absolute;
  left: 5.3rem;
}
@media screen and (max-width: 801px) {
  .hero__content {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__tagline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #df6951;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .hero__tagline {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 801px) {
  .hero__tagline {
    display: none;
  }
}
.hero__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 8.4rem;
  line-height: 8.9rem;
  color: #181e4b;
  letter-spacing: -0.04em;
  margin-top: 2.4rem;
  margin-bottom: 3rem;
  width: 54.5rem;
}
@media screen and (max-width: 801px) {
  .hero__title {
    font-size: 4.8rem;
    width: 31.5rem;
    margin-top: unset;
    margin-bottom: 1.9rem;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    width: 100%;
    text-align: center;
  }
}
.hero__descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #5e6282;
  margin-bottom: 3.4rem;
  width: 47.7rem;
}
@media screen and (max-width: 801px) {
  .hero__descr {
    display: none;
  }
}

/* General styles */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #df6951;
}/*# sourceMappingURL=style.css.map */