/* Base resets */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, img, form, label,
input, select, ul, li,
article, aside, footer,
header, main, menu, nav,
section, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
}

/* General styles */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* colors */
/* fonts */
/* resolutions */
@-webkit-keyframes blim {
  100% {
    background-color: #df6951;
  }
}
@keyframes blim {
  100% {
    background-color: #df6951;
  }
}
@-webkit-keyframes blimDark {
  100% {
    background-color: #5e6282;
    -webkit-box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
            box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
  }
}
@keyframes blimDark {
  100% {
    background-color: #5e6282;
    -webkit-box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
            box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
  }
}
@-webkit-keyframes fly {
  5% {
    -webkit-transform: rotateZ(50deg);
            transform: rotateZ(50deg);
  }
  10% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  15% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
  }
  90% {
    -webkit-transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
            transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
  }
  95% {
    -webkit-transform: translateX(0) scale(0);
            transform: translateX(0) scale(0);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
@keyframes fly {
  5% {
    -webkit-transform: rotateZ(50deg);
            transform: rotateZ(50deg);
  }
  10% {
    -webkit-transform: rotateZ(25deg);
            transform: rotateZ(25deg);
  }
  15% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
  }
  90% {
    -webkit-transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
            transform: rotateZ(32deg) translateX(200rem) translateY(-100rem);
  }
  95% {
    -webkit-transform: translateX(0) scale(0);
            transform: translateX(0) scale(0);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes login {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes login {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  70% {
    width: 40%;
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  70% {
    width: 40%;
  }
}
/* Components */
.logo {
  height: 4rem;
}
.logo__wrapper {
  height: 100%;
}
.logo__img {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 801px) {
  .desktop-menu {
    display: none;
  }
}
.desktop-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.1666666667vw;
}
@media screen and (max-width: 900px) {
  .desktop-menu__list {
    gap: 2.7777777778vw;
  }
}
.desktop-menu__item {
  -webkit-transition: scale 0.3s linear;
  transition: scale 0.3s linear;
}
.desktop-menu__item:has(.desktop-menu__link:hover) {
  scale: 1.2;
}
.desktop-menu__link {
  font-family: "GoogleSans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
  text-transform: capitalize;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.desktop-menu__link:focus, .desktop-menu__link:hover {
  color: #df6951;
}

.mobile-menu {
  padding: 9.8rem 0;
  visibility: visible;
  -webkit-transition: visibility 0.1s;
  transition: visibility 0.1s;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.mobile-menu__item {
  text-align: center;
  -webkit-transition: scale 0.3s linear;
  transition: scale 0.3s linear;
}
.mobile-menu__item:has(.mobile-menu__link:hover), .mobile-menu__item:has(.mobile-menu__link:focus) {
  scale: 1.2;
}
.mobile-menu__link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #737373;
  text-transform: capitalize;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: #df6951;
}

.desktop-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.0833333333vw;
}
@media screen and (max-width: 801px) {
  .desktop-login {
    display: none;
  }
}
.desktop-login__btn {
  display: block;
  padding: 0.9rem 2rem;
  font-family: "GoogleSans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
  border: 1px solid;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.desktop-login__btn:focus, .desktop-login__btn:hover {
  scale: 1.2;
}
.desktop-login__btn:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
.desktop-login__btn_sign-up {
  border-color: #212832;
}
.desktop-login__btn_login {
  border-color: transparent;
}
.desktop-login__btn_login:focus, .desktop-login__btn_login:hover {
  color: #df6951;
  border-color: #df6951;
}

.mobile-login {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  text-align: center;
  visibility: hidden;
  -webkit-transition: visibility 0.1s;
  transition: visibility 0.1s;
}
.mobile-login__btn {
  display: block;
  padding: 0.9rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #737373;
  border: 1px solid;
  border-radius: 0.5rem;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}
.mobile-login__btn:focus, .mobile-login__btn:hover {
  scale: 1.2;
}
.mobile-login__btn:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
.mobile-login__btn_sign-up {
  border-color: #737373;
}
.mobile-login__btn_login {
  border-color: transparent;
}
.mobile-login__btn_login:focus, .mobile-login__btn_login:hover {
  color: #df6951;
  border-color: #df6951;
}

.burger-btn {
  cursor: pointer;
}
@media screen and (min-width: 801px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn__input {
  display: none;
}
.burger-btn__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2.6rem;
  height: 2rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
}
.burger-btn__svg {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-btn__icon {
  fill: #737373;
}

.language {
  font-family: "GoogleSans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
  background-color: transparent;
  outline: none;
}

.btn-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.4rem;
}
@media screen and (max-width: 801px) {
  .btn-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.btn-bar__find-out-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.9rem 2.7rem;
  border: 0.1rem solid #f1a501;
  border-radius: 1rem;
  background-color: #f1a501;
  font-family: "GoogleSans", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #ffffff;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-bar__find-out-more:hover, .btn-bar__find-out-more:focus {
  background-color: transparent;
  border-color: #686d77;
  color: #686d77;
  -webkit-box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
          box-shadow: 0px 15px 30px rgba(94, 98, 130, 0.3);
}
.btn-bar__find-out-more:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
.btn-bar__play-demo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn-bar__play-demo::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 5.2rem;
  z-index: -1;
  background-color: #df6951;
  border-radius: 2.6rem;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-bar__play-demo:hover::after, .btn-bar__play-demo:focus::after {
  width: 100%;
}
.btn-bar__play-demo:hover .btn-bar__play-text, .btn-bar__play-demo:focus .btn-bar__play-text {
  color: #ffffff;
}
.btn-bar__play-demo:active::after {
  -webkit-animation: blimDark 0.1s;
          animation: blimDark 0.1s;
}
.btn-bar__play-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
}
.btn-bar__play-btn::after {
  position: absolute;
  margin-left: 0.6rem;
  content: "";
  width: 0;
  height: 0;
  border-left: 1.6rem solid #ffffff;
  border-top: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  border-right: 0;
}
.btn-bar__play-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.6rem;
  color: #686d77;
  text-transform: capitalize;
  margin-left: 2rem;
  padding-right: 2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-bar__decor {
  position: absolute;
  display: none;
  right: -14.7rem;
  top: -2.2rem;
  z-index: -1;
}
@media screen and (max-width: 801px) {
  .btn-bar__decor {
    display: block;
  }
}

.service-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 28rem;
  padding: 0 4.5rem 4.5rem;
  border-radius: 3.6rem;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service-card::after {
  position: absolute;
  content: "";
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border-radius: 30px 0px 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: -1;
  bottom: -3.5rem;
  left: -3.5rem;
}
.service-card:hover, .service-card:focus {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.service-card:hover::after, .service-card:focus::after {
  background-color: #df6951;
}
@media screen and (max-width: 801px) {
  .service-card:nth-child(3), .service-card:nth-child(4) {
    display: none;
  }
}
.service-card__icon-wrapper {
  height: 14.3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  isolation: isolate;
}
.service-card__icon-wrapper::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 5rem;
  background: #FFF1DA;
  border-radius: 18px 5px 10px;
  z-index: -1;
}
.service-card__title {
  margin-bottom: 1.5rem;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #1e1d4c;
  text-align: center;
}
.service-card__descr {
  max-width: 18.1rem;
  font-family: "OpenSans", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #5e6282;
  text-align: center;
}
.service-card:nth-child(1) .service-card__icon {
  margin-top: 0.6rem;
  margin-right: 1rem;
}
.service-card:nth-child(1) .service-card__icon-wrapper::before {
  top: 6.5rem;
  right: 3.9rem;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.service-card:nth-child(2) .service-card__icon {
  width: auto;
  height: 100%;
  margin-right: 0.9rem;
}
.service-card:nth-child(2) .service-card__icon-wrapper::before {
  top: 3.6rem;
  right: 7.9rem;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}
.service-card:nth-child(3) .service-card__icon {
  margin-top: 1rem;
  margin-right: 2rem;
}
.service-card:nth-child(3) .service-card__icon-wrapper::before {
  top: 3.5rem;
  right: 5.1rem;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.service-card:nth-child(4) .service-card__icon {
  margin-top: 1rem;
  margin-right: 3rem;
}
.service-card:nth-child(4) .service-card__icon-wrapper::before {
  top: 6.5rem;
  right: 5.3rem;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.destinations-card {
  position: relative;
  border-radius: 2.4rem;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}
.destinations-card:nth-child(1) .destinations-card__decor-wrapper {
  display: none;
}
.destinations-card:nth-child(2) .destinations-card__decor-wrapper {
  display: none;
}
.destinations-card:nth-child(3) .destinations-card__decor-wrapper {
  display: block;
}
@media screen and (max-width: 1186px) {
  .destinations-card:nth-child(2) .destinations-card__decor-wrapper {
    display: block;
  }
  .destinations-card:nth-child(3) .destinations-card__decor-wrapper {
    display: none;
  }
}
@media screen and (max-width: 822px) {
  .destinations-card:nth-child(1) .destinations-card__decor-wrapper {
    display: block;
  }
  .destinations-card:nth-child(2) .destinations-card__decor-wrapper {
    display: none;
  }
}
@media screen and (max-width: 801px) {
  .destinations-card:nth-child(1) .destinations-card__decor-wrapper {
    display: none;
  }
}
.destinations-card:hover .destinations-card__img {
  scale: 1.2;
}
.destinations-card__img-wrapper {
  border-radius: 2.4rem;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.destinations-card__img {
  width: 100%;
  height: auto;
  -webkit-transition: scale 0.3s linear;
  transition: scale 0.3s linear;
}
.destinations-card__text-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 2.4rem 2.4rem;
  padding: 2.8rem 2.5rem 4.2rem 2rem;
}
.destinations-card__line-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.8rem;
}
.destinations-card__location, .destinations-card__price {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #5e6282;
}
.destinations-card__line-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.destinations-card__term {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #5e6282;
  margin-left: 1.3rem;
}
.destinations-card__item {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.destinations-card__svg {
  width: 100%;
  height: 100%;
}
.destinations-card__icon {
  fill: #080809;
}
.destinations-card__decor-wrapper {
  position: absolute;
  right: -6.2rem;
  top: 15.8rem;
  z-index: -1;
}

.book-trip-card {
  position: relative;
  padding-top: 3.9rem;
  padding-right: 11.5rem;
}
@media screen and (max-width: 801px) {
  .book-trip-card {
    padding-top: 3.5rem;
    padding-right: 4rem;
  }
}
.book-trip-card__wrapper {
  padding: 2rem 2.5rem 3rem;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 2.6rem;
  background-color: #ffffff;
}
@media screen and (max-width: 801px) {
  .book-trip-card__wrapper {
    padding-inline: 1.7rem;
  }
}
.book-trip-card__img-wrapper {
  width: 100%;
  max-width: 32.1rem;
  border: 1px solid #000000;
  border-radius: 2.4rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-bottom: 2.3rem;
}
.book-trip-card__img {
  width: 100%;
  height: auto;
}
.book-trip-card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.015em;
  color: #080809;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}
.book-trip-card__descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.005em;
  color: #84829A;
  margin-bottom: 2.1rem;
}
.book-trip-card__icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.book-trip-card__icon-item {
  width: 3.6rem;
  height: 3.6rem;
  padding: 1.1rem;
  background-color: #F5F5F5;
  border-radius: 50%;
}
.book-trip-card__icon-svg {
  width: 100%;
  height: 100%;
}
.book-trip-card__icon {
  fill: #84829A;
}
.book-trip-card__book-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.book-trip-card__book-building {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.book-trip-card__book-item {
  width: 1.6rem;
  height: 1.6rem;
}
.book-trip-card__book-svg {
  width: 100%;
  height: 100%;
}
.book-trip-card__book-icon {
  fill: #84829A;
}
.book-trip-card__book-people {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  color: #84829A;
}
.book-trip-card__like-item {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.book-trip-card__like-item:hover use {
  fill: #4152CA;
}
.book-trip-card__like-svg {
  width: 100%;
  height: 100%;
}
.book-trip-card__like-icon {
  fill: #84829A;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.book-trip-card__like-input {
  display: none;
}
.book-trip-card__decor {
  position: absolute;
  right: 13.5%;
  top: 0;
  width: 73%;
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}
.book-trip-card__decor-shadow {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #59b1e6;
  -webkit-box-shadow: 0 0 17.5rem 17.5rem #59b1e6;
          box-shadow: 0 0 17.5rem 17.5rem #59b1e6;
  opacity: 0.4;
}
@media screen and (max-width: 801px) {
  .book-trip-card__decor-shadow {
    -webkit-box-shadow: 0 0 12rem 12rem #59b1e6;
            box-shadow: 0 0 12rem 12rem #59b1e6;
  }
}
.book-trip-card__info {
  position: absolute;
  bottom: 5.2rem;
  right: 0;
  display: none;
  gap: 1.2rem;
  padding: 2rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 1.8rem;
  cursor: pointer;
}
.book-trip-card__info-img-wrapper {
  max-width: 5rem;
  width: 100%;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.book-trip-card__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.book-trip-card__info-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.035em;
  color: #84829A;
  margin-bottom: 0.6rem;
}
.book-trip-card__info-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: -0.015em;
  color: #080809;
  margin-bottom: 1.4rem;
}
.book-trip-card__info-descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.055em;
  color: #8A79DF;
  margin-bottom: 1rem;
}
.book-trip-card__info-descr_strong {
  color: #080809;
}
.book-trip-card__info-progressbar {
  position: relative;
  width: 15.6rem;
  height: 0.5rem;
  border-radius: 30px;
  background-color: #F5F5F5;
}
.book-trip-card__info-progressbar::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 40%;
  border-radius: 30px;
  background-color: #8A79DF;
}
.book-trip-card:hover .book-trip-card__info-progressbar::after {
  -webkit-animation: progress 2s infinite;
          animation: progress 2s infinite;
}
.book-trip-card:has(.book-trip-card__like-input:checked) .book-trip-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: absolute;
  top: 4.7rem;
  width: 100%;
}
.header:has(.burger-btn__input:checked) {
  padding-bottom: 2rem;
}
.header:has(.burger-btn__input:checked) .header__mobile-wrapper {
  display: none;
}
.header:has(.burger-btn__input:checked) .burger-btn__svg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
@media screen and (max-width: 801px) {
  .header {
    position: static;
    padding-top: 3.7rem;
    background-color: #FFF1DA;
  }
}
.header__container {
  max-width: 80.5555555556vw;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .header__container {
    max-width: 1160px;
  }
}
@media screen and (max-width: 1080px) {
  .header__container {
    max-width: 95vw;
  }
}
.header__desktop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 801px) {
  .header__desktop-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30vw;
  }
}
@media screen and (max-width: 400px) {
  .header__desktop-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
}
.header__icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.header__mobile-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 801px) {
  .header__mobile-wrapper {
    display: none;
  }
}
.header__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.9166666667vw;
}
.header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.4444444444vw;
}
@media screen and (max-width: 900px) {
  .header__menu-wrapper {
    gap: 2.7777777778vw;
  }
}
.header__mobile-togle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: block;
  padding: 1rem;
  border: 1px solid #737373;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #737373;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-animation: login 5s infinite ease-in-out;
          animation: login 5s infinite ease-in-out;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header__mobile-togle:focus, .header__mobile-togle:hover {
  color: #df6951;
  border-color: #df6951;
}
.header__mobile-togle:active {
  -webkit-animation: blimDark 0.1s;
          animation: blimDark 0.1s;
}
.header__mobile-togle-input {
  display: none;
}
.header:has(.header__mobile-togle-input:checked) .mobile-menu {
  visibility: hidden;
}
.header:has(.header__mobile-togle-input:checked) .mobile-login {
  visibility: visible;
}

.hero {
  padding-top: 11rem;
  overflow: hidden;
}
@media screen and (max-width: 801px) {
  .hero {
    padding-top: unset;
  }
}
.hero__background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 801px) {
  .hero__background {
    display: none;
  }
}
.hero__background-img {
  width: 100%;
  height: auto;
}
.hero__container {
  max-width: 86.5277777778vw;
  width: 100%;
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .hero__container {
    max-width: 1246px;
  }
}
@media screen and (max-width: 1080px) {
  .hero__container {
    max-width: 95vw;
  }
}
.hero__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 801px) {
  .hero__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7.4rem;
    padding-bottom: 9.2rem;
  }
}
.hero__img-wrapper {
  height: 100%;
}
@media screen and (max-width: 801px) {
  .hero__img-wrapper {
    display: none;
  }
}
.hero__img {
  height: 100%;
  width: auto;
}
.hero__plane {
  position: absolute;
  z-index: 2;
}
.hero__plane_first {
  top: 10.3rem;
  right: -2rem;
}
@media screen and (max-width: 801px) {
  .hero__plane_first {
    display: none;
  }
}
.hero__plane_second {
  top: 5.6rem;
  right: 46.4rem;
}
@media screen and (max-width: 1200px) {
  .hero__plane_second {
    left: -3rem;
    right: unset;
  }
}
@media screen and (max-width: 801px) {
  .hero__plane_second {
    top: -1rem;
  }
}
.hero__plane:hover {
  cursor: pointer;
}
.hero__plane:hover .hero__plane-img {
  -webkit-animation: fly 3s;
          animation: fly 3s;
}
.hero__plane-img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.hero__content {
  position: absolute;
  left: 5.3rem;
}
@media screen and (max-width: 801px) {
  .hero__content {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__tagline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #df6951;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .hero__tagline {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 801px) {
  .hero__tagline {
    display: none;
  }
}
.hero__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 8.4rem;
  line-height: 8.9rem;
  color: #181e4b;
  letter-spacing: -0.04em;
  margin-top: 2.4rem;
  margin-bottom: 3rem;
  width: 54.5rem;
}
@media screen and (max-width: 801px) {
  .hero__title {
    font-size: 4.8rem;
    width: 31.5rem;
    margin-top: unset;
    margin-bottom: 1.9rem;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    width: 100%;
    text-align: center;
  }
}
.hero__descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #5e6282;
  margin-bottom: 3.4rem;
  width: 47.7rem;
}
@media screen and (max-width: 801px) {
  .hero__descr {
    display: none;
  }
}

.services {
  position: relative;
}
.services__container {
  margin: 9.2rem auto;
  padding-inline: 4rem;
}
@media screen and (max-width: 801px) {
  .services__container {
    margin: 11rem auto;
  }
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__subtitle {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #5e6282;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .services__subtitle {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .services__subtitle {
    margin-bottom: 2.3rem;
  }
}
.services__title {
  margin-bottom: 7.4rem;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.4rem;
  color: #14183e;
  text-transform: capitalize;
}
@media screen and (max-width: 1080px) {
  .services__title {
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .services__title {
    margin-bottom: 5rem;
  }
}
.services__card-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.5rem;
     -moz-column-gap: 3.5rem;
          column-gap: 3.5rem;
  row-gap: 7rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__decor {
  position: absolute;
  top: 0;
  right: 4.375vw;
  z-index: 1;
}
@media screen and (max-width: 801px) {
  .services__decor {
    display: none;
  }
}
.services__button {
  display: none;
  margin-top: 7rem;
  padding: 0.9rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4.5rem;
  color: #737373;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.services__button:focus, .services__button:hover {
  color: #df6951;
  border-color: #df6951;
  scale: 1.2;
}
.services__button:active {
  -webkit-animation: blim 0.1s;
          animation: blim 0.1s;
}
@media screen and (max-width: 801px) {
  .services__button {
    display: block;
  }
}
.services__input {
  display: none;
}
.services:has(.services__input:checked) .service-card:nth-child(3),
.services:has(.services__input:checked) .service-card:nth-child(4) {
  display: block;
}

.destinations {
  position: relative;
}
.destinations__container {
  margin: 10.8rem auto;
  padding-inline: 7rem;
}
@media screen and (max-width: 801px) {
  .destinations__container {
    padding-inline: 1rem;
    margin: 18rem auto;
  }
}
.destinations__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.destinations__subtitle {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #5e6282;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .destinations__subtitle {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
}
.destinations__title {
  margin-bottom: 6rem;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.4rem;
  color: #14183e;
  text-transform: capitalize;
}
@media screen and (max-width: 1080px) {
  .destinations__title {
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .destinations__title {
    max-width: 27rem;
    margin-bottom: 3.8rem;
  }
}
.destinations__card-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 7rem;
}
.destinations__decor-wrapper {
  display: none;
  position: absolute;
  top: -2rem;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 801px) {
  .destinations__decor-wrapper {
    display: block;
  }
}

.book-trip {
  position: relative;
}
.book-trip__container {
  max-width: 77.3611111111vw;
  width: 100%;
  margin-inline: auto;
  margin: 18.6rem auto;
}
@media screen and (min-width: 1440px) {
  .book-trip__container {
    max-width: 1114px;
  }
}
@media screen and (max-width: 1080px) {
  .book-trip__container {
    max-width: 95vw;
  }
}
@media screen and (max-width: 801px) {
  .book-trip__container {
    margin: 14rem auto;
  }
}
.book-trip__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 801px) {
  .book-trip__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6rem;
  }
}
.book-trip__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.book-trip__subtitle {
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #5e6282;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .book-trip__subtitle {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .book-trip__subtitle {
    display: none;
  }
}
.book-trip__title {
  margin-bottom: 3rem;
  max-width: 51.1rem;
  width: 100%;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.4rem;
  color: #14183e;
  text-transform: capitalize;
}
@media screen and (max-width: 1080px) {
  .book-trip__title {
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
  }
}
.book-trip__steps-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8rem;
  max-width: 39.5rem;
  width: 100%;
}
.book-trip__step-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1rem;
}
.book-trip__step-item {
  max-width: 4.8rem;
  width: 100%;
  height: 4.8rem;
  padding: 1.3rem;
  border-radius: 1.3rem;
}
.book-trip__step-item_yellow {
  background-color: #f0bb1f;
}
.book-trip__step-item_red {
  background-color: #f15a2b;
}
.book-trip__step-item_blue {
  background-color: #006380;
}
.book-trip__step-svg {
  width: 100%;
  height: 100%;
}
.book-trip__step-icon {
  fill: #ffffff;
}
.book-trip__step-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}
.book-trip__step-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #5e6282;
}
.book-trip__step-descr {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #5e6282;
}
.book-trip__decor-top-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: -1;
}
@media screen and (max-width: 801px) {
  .book-trip__decor-top-wrapper {
    display: block;
  }
}
.book-trip__decor-bottom-wrapper {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(44%);
          transform: translateY(44%);
}
@media screen and (max-width: 801px) {
  .book-trip__decor-bottom-wrapper {
    display: block;
  }
}

.testimonials__container {
  max-width: 72.2222222222vw;
  width: 100%;
  margin-inline: auto;
  margin-top: 20rem;
  margin-bottom: 17.3rem;
}
@media screen and (min-width: 1440px) {
  .testimonials__container {
    max-width: 1040px;
  }
}
@media screen and (max-width: 1080px) {
  .testimonials__container {
    max-width: 95vw;
  }
}
@media screen and (max-width: 801px) {
  .testimonials__container {
    margin-top: 15.6rem;
    margin-bottom: 7.4rem;
  }
}
.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 801px) {
  .testimonials__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8rem;
  }
}
.testimonials__subtitle {
  margin-bottom: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #5e6282;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .testimonials__subtitle {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .testimonials__subtitle {
    margin-bottom: 2.7rem;
  }
}
.testimonials__title {
  max-width: 40.9rem;
  width: 100%;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.4rem;
  color: #14183e;
  text-transform: capitalize;
}
@media screen and (max-width: 1080px) {
  .testimonials__title {
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .testimonials__title {
    margin-inline: auto;
    max-width: 28.7rem;
  }
}
.testimonials__quote-wrapper {
  position: relative;
  padding-top: 3.4rem;
  padding-left: 3.7rem;
}
@media screen and (max-width: 801px) {
  .testimonials__quote-wrapper {
    padding: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.testimonials__quote {
  padding: 2.8rem 6.8rem 3.4rem 3.4rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}
@media screen and (max-width: 801px) {
  .testimonials__quote {
    padding: 0 0.9rem 1.6rem;
  }
}
.testimonials__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 801px) {
  .testimonials__img-wrapper {
    position: static;
  }
}
.testimonials__quote-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #5e6282;
  max-width: 40.2rem;
  width: 100%;
}
.testimonials__quote-author {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #5e6282;
  text-transform: capitalize;
  margin-top: 3.4rem;
}
@media screen and (max-width: 801px) {
  .testimonials__quote-author {
    margin-top: 1.7rem;
    text-align: center;
  }
}
.testimonials__quote-descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #5e6282;
  text-transform: capitalize;
  margin-top: 0.4rem;
}
@media screen and (max-width: 801px) {
  .testimonials__quote-descr {
    text-align: center;
  }
}

.logos__container {
  padding-inline: 7rem;
  margin: 11.1rem auto;
}
@media screen and (max-width: 801px) {
  .logos__container {
    padding-inline: 1rem;
    margin: 9rem auto;
  }
}
.logos__title {
  display: none;
  margin-bottom: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #5e6282;
  text-transform: uppercase;
}
@media screen and (max-width: 1080px) {
  .logos__title {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 801px) {
  .logos__title {
    display: block;
  }
}
.logos__item-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.logos__item {
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.logos__item:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.logos__item:hover .logos__link {
  mix-blend-mode: normal;
}
.logos__link {
  mix-blend-mode: luminosity;
  padding-inline: 4rem;
  height: 8.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.actionform__container {
  max-width: 81.25vw;
  width: 100%;
  margin-inline: auto;
  margin: 12.4rem auto;
}
@media screen and (min-width: 1440px) {
  .actionform__container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1080px) {
  .actionform__container {
    max-width: 95vw;
  }
}
@media screen and (max-width: 801px) {
  .actionform__container {
    margin: 0 auto;
  }
}
.actionform__wrapper {
  position: relative;
}
.actionform__form {
  position: relative;
  background: rgba(223, 215, 249, 0.2);
  border-radius: 13rem 2rem 2rem 2rem;
  padding: 8rem 15.5rem;
}
@media screen and (max-width: 801px) {
  .actionform__form {
    display: none;
  }
}
.actionform__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.3rem;
  line-height: 5.4rem;
  color: #5e6282;
  text-align: center;
}
.actionform__action-bar {
  margin-top: 7.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.8rem;
     -moz-column-gap: 3.8rem;
          column-gap: 3.8rem;
}
.actionform__button {
  padding: 2.3rem 5rem;
  border: 0.1rem solid #df6951;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.actionform__button:hover, .actionform__button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background: linear-gradient(180deg, transparent 0%, transparent 100%);
  color: #df6951;
}
.actionform__button:active {
  -webkit-animation: blimDark 0.1s;
          animation: blimDark 0.1s;
}
.actionform__button_outer {
  display: none;
}
@media screen and (max-width: 801px) {
  .actionform__button_outer {
    display: block;
  }
}
.actionform__decore-wrapper {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}
.actionform__decore-wrapper_big {
  width: 39rem;
  bottom: 0;
  left: 2rem;
}
.actionform__decore-wrapper_small {
  width: 26.7rem;
  right: -3.6rem;
  top: 3.5rem;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}
.actionform__decore-img {
  width: 100%;
  height: auto;
}
.actionform__input-email {
  background-color: #ffffff;
  max-width: 42.1rem;
  width: 100%;
  padding-inline: 2.8rem;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #080809;
}
.actionform__input-email::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5e6282;
}
.actionform__input-email::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5e6282;
}
.actionform__input-email:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5e6282;
}
.actionform__input-email::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5e6282;
}
.actionform__input-email::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5e6282;
}
.actionform__input-email:focus, .actionform__input-email:hover {
  outline: 0.1rem solid #df6951;
}
.actionform__input-email:valid {
  outline: 0.1rem solid #080809;
}
.actionform__telegram-item {
  position: absolute;
  top: -1.3rem;
  right: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
}
@media screen and (max-width: 1040px) {
  .actionform__telegram-item {
    top: -0.7rem;
    right: -1rem;
  }
}
@media screen and (max-width: 801px) {
  .actionform__telegram-item {
    position: static;
  }
}
.actionform__telegram-img {
  -webkit-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
}
.actionform__button-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}
.actionform__decore {
  position: absolute;
  bottom: -4.8611111111vw;
  right: -6.9444444444vw;
}
@media screen and (max-width: 1080px) {
  .actionform__decore {
    right: 0;
  }
}
@media screen and (max-width: 801px) {
  .actionform__decore {
    display: none;
  }
}

.footer {
  position: relative;
}
@media screen and (max-width: 801px) {
  .footer {
    background-color: #FFF1DA;
  }
}
.footer__container {
  padding-inline: 7rem;
  margin-top: 16.6rem;
}
@media screen and (max-width: 801px) {
  .footer__container {
    padding-inline: unset;
  }
}
.footer__wrapper {
  padding-bottom: 7.9rem;
}
@media screen and (max-width: 801px) {
  .footer__wrapper {
    padding: 1.3rem 19vw 1.7rem;
  }
}
.footer__navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8.2rem;
     -moz-column-gap: 8.2rem;
          column-gap: 8.2rem;
  row-gap: 5.8rem;
}
@media screen and (max-width: 640px) {
  .footer__navigation-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.9rem;
}
.footer__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 4.4rem;
  line-height: 6.6rem;
  color: #181e4b;
}
.footer__descr {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #5e6282;
  max-width: 20.7rem;
  width: 100%;
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8rem;
     -moz-column-gap: 8rem;
          column-gap: 8rem;
  row-gap: 5rem;
}
@media screen and (max-width: 640px) {
  .footer__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__company-section, .footer__contact-section, .footer__more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.4rem;
}
.footer__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.6rem;
  color: #080809;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.footer__item {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__item:has(.footer__link:hover), .footer__item:has(.footer__link:focus) {
  scale: 1.2;
}
.footer__link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #5e6282;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__link:hover, .footer__link:focus {
  color: #df6951;
}
.footer__link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}
@media screen and (max-width: 801px) {
  .footer__link-section {
    gap: 4.1rem;
  }
}
.footer__social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.footer__social-item {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__social-item:focus, .footer__social-item:hover {
  scale: 1.2;
}
.footer__social-svg {
  width: 100%;
  height: 100%;
}
.footer__social-link_facebook {
  fill: #335BF5;
}
.footer__social-link_instagram {
  fill: #E51F5A;
}
.footer__social-link_twitter {
  fill: #21A6DF;
}
.footer__social-link_youtube {
  fill: #E42F08;
}
.footer__buttons-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
.footer__buttons-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.005em;
  color: #5e6282;
  text-align: center;
}
.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7rem;
}
@media screen and (max-width: 400px) {
  .footer__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__button-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #080809;
  border-radius: 1.8rem;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.footer__button-link:hover, .footer__button-link:focus {
  opacity: 0.7;
}
.footer__decore-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 801px) {
  .footer__decore-wrapper {
    display: none;
  }
}
.footer__copyright {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5e6282;
  text-align: center;
  margin-top: 8.4rem;
}
@media screen and (max-width: 801px) {
  .footer__copyright {
    margin-top: 5.8rem;
  }
}

.google-btn__icon-wrapper,
.apple-btn__icon-wrapper {
  width: 2rem;
  height: 2rem;
}
.google-btn__icon-svg,
.apple-btn__icon-svg {
  width: 2rem;
  height: 2rem;
}
.google-btn__text-wrapper,
.apple-btn__text-wrapper {
  width: 5.5rem;
  height: 2rem;
}
.google-btn__text-svg,
.apple-btn__text-svg {
  width: 100%;
  height: 100%;
}

/* General styles */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #df6951;
}/*# sourceMappingURL=style.css.map */